<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Banking System{% endblock title %}
    </title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css">
</head>
<body class='bg-indigo-600'>
    {% include "core/navbar.html" %}
    {% if messages %}
        {% include "core/messages.html" %}
    {% endif %}
    {% block content %}
    {% endblock content %}
    {% include "core/footer.html" %}
</body>
</html>